* {
	transition: 200ms;
}

*:hover {
	transition: 200ms;
}

img {   max-width: 100% }

.container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.containerFluid {
	width: 100%;
}

article {
	display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}


/*HEADER*/

header {
	height: 90px;
	background: #000;
    display: flex !important;
    align-items: center;
    position: relative;
    z-index: 1000;
}

header > .container {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	font-family: 'LatoWebBold';
	font-size: 1.2em;
}

header > .container > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 485px;
}

header > .container > ul > li > a {
	color: #fff;
	text-decoration: none;
	font-family: 'LatoWebBold';
}

header > .container > ul > li > a:hover {
	color: #e1261e;
}

.activeLink {
	color: #e1261e !important;
}

header > .container > .phone {
	color: #e1261e;
}

/*HEADER*/


/*MAIN*/

.main {
	background: url(../images/mainBackground.jpg) 0px 89px no-repeat;
	background-size: cover;
}

.teach {
	background: url(../images/schoolBackground.jpg) 0px 89px no-repeat;
	background-size: cover;
}

.about {
	background: url(../images/aboutBackground.jpg) 0px 89px no-repeat;
	background-size: cover;
}

.reviews {
	background: url(../images/reviewsBackground.jpg) 0px 89px no-repeat;
	background-size: cover;
}

.mainPromo {
	font-family: 'LatoWeb';
	color: #fff;
	text-align: left;
	text-transform: lowercase;
	font-size: 1.2em;
}

.sliderBlock {
    text-align: left;
    height: 450px !important;
}

.sliderBlock > .sliderBlockH1 {
	color: #e1261e;
	font-family: 'LatoWebBold';
	font-size: 2.8em;
    margin-top: 12vh;
}

.sliderBlock > .sliderBlockH2 {
	color: #e1261e;
	font-family: 'LatoWebBold';
	font-size: 3.6em;

}

.sliderBlock > .sliderBlockDescription {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.6em;
	line-height: 1.5em;
	display: block;
	width: 500px;
	margin-top: 3vh;
}

.sliderBlock > .sliderBlockButtonWrapper {
	margin-top: 8vh;
}

.sliderBlockButton {
	background-color: #e1261e;
	font-family: 'LatoWebBold';
	color: #fff;
	font-size: 2em;
	padding: 20px 30px;
	text-transform: lowercase;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
}

.mainSocial {
	text-align: right;
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.6em;
	text-transform: lowercase;
	display: flex;
	justify-content: flex-end;
}

.vkSocial, .instSocial  {
	margin-left: 15px;
}

.mainSlider {
	width: 1020px;
	margin: 0 auto;
	min-height: 400px;
}

.toBottom {
    margin: 5vh auto -20px auto;
    display: flex;
    justify-content: center;
}

.slick-prev {
	background: url(../images/arrowLeft.png) no-repeat !important;
}

.slick-next {
	background: url(../images/arrowRight.png) no-repeat !important;
}


/*SCHOOL*/

.schoolTabs {
	display: flex;
	justify-content: space-between;
}

.teachContainer {
	min-height: calc(100vh - 165px);
}

.teachDesc {
	display: flex;
	justify-content: space-between;
	margin-top: 3vh;
	margin-bottom: 4vh;
}

.firstTabs, .secondTabs {
	display: flex;
	flex-direction: column;
	width: 310px;
}

.firstTabs_tab, .secondTabs_tab {
    background: #fff;
    border-radius: 6px;
    color: #000;
    text-align: center;
    font-family: 'LatoWebBold';
    font-size: 1.3em;
    text-transform: lowercase;
    padding: 20px 0px;
    margin: 10px 0;
    text-decoration: none;
}

.firstTabs_tab:first-letter, .secondTabs_tab:first-letter {
	color : #e1261e;
}

.firstTabs_tab:hover, .secondTabs_tab:hover {
	background: #000;
	color: #fff;
}

.teachContentH1 {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 3em;
	line-height: 0.8em;
}

.teachContentH1 span {
	color : #e1261e;
}

.teachContentH2 {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.8em;
	margin-top: 4vh;
}

.teachContentH3 {
    color: #fff;
    font-family: 'LatoWebBold';
    font-size: 1.25em;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

ol > li {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.25em;
	padding: 0.3vh 0;
}

.teachContentBlockButtonArea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	    margin: 2vh 0 4vh 0;
}

.teachContentButton {
	background-color: #e1261e;
	font-family: 'LatoWebBold';
	color: #fff;
    font-size: 1.4em;
    padding: 15px 20px;
	text-transform: lowercase;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
}

.teachContentBlockButtonAreaPrice {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.4em;
}

.teachContentBlockButtonAreaPrice span {
	color : #e1261e;
}

.teachFooter {
	display: flex;
	justify-content: space-around;
}

.teachFooterDesc {
	width: 45%;
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.45em;
	line-height: 1.1em;
}

.teachFooterDownloadBlock {
	width: 50%;
}

.teachFooterDownload {
	color: #fff;
	font-family: 'LatoWebBold';
	font-size: 1.25em;
	line-height: 1.1em;
	text-decoration: underline;
}


.teachFooterDownload a {
	color: #e22d25;
}

/*ABOUT*/

.aboutRow {
	display: flex;
	justify-content: space-between;
    margin-top: 5vh;
}

.aboutH1 {
	text-align: center;
	font-family: 'LatoWebBold';
	font-size: 2.8em;
	color: #fff;
    margin-top: 7vh;
}

.aboutH1:first-letter {
	color : #e3291c;
}

.aboutBlock {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.aboutBlockDesc {
	font-family: 'LatoWeb';
	color: #fff;
	text-align: center;
	margin-top: 27px;
	text-transform: lowercase;
	font-size: 1.1em;
	line-height: 1.5em;
}

.aboutRowBottom {
	display: flex;
    margin-top: 5vh;
    justify-content: center;
}


/*REVIEWS*/

.reviewsLogo {
	display: flex;
	justify-content: center;
    margin-top: 5vh;
}

.reviewsH1 {
	font-family: 'LatoWebBold';
	color: #fff;
	font-size: 1.6em;
	text-align: center;
	margin-top: 2vh;
}

.reviewsH1:first-letter {
	color: #e1261e;
}

.reviewsRow {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.reviewsBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 30%;
}

.reviewsBlock > img {
	margin-top: 3vh;
}

.reviewsBlockHeader {
	font-family: 'LatoWebBold';
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	margin-top: 2vh;
}

.reviewsBlockDesc {
	font-family: 'LatoWeb';
	color: #fff;
	text-align: center;
	text-transform: lowercase;
	font-size: 1.05em;
	line-height: 1.8em;
	margin-top: 1vh;
}

/*CONTACTS*/

.contactsBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5vh;
    position: relative;
    z-index: 10000;
    margin-bottom: -320px;
}

.contactsH1 {
	font-family: 'LatoWebBold';
	color: #000;
	font-size: 2.3em;
	text-align: center;
	margin-top: 3vh;
}

.contactsDesc {
	font-family: 'LatoWeb';
	color: #000;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 4vh;
	font-weight: 700;
}


/*MEDIA QUERIES*/

@media (min-height: 901px) {
	 .sliderBlock {
	    text-align: left;
	    height: 650px !important;
	}

		.mainSlider  {
			margin-top: 4vh;
		}

	.aboutH1 {
	    text-align: center;
	    font-family: 'LatoWebBold';
	    font-size: 2.8em;
	    color: #fff;
	    margin-top: 12vh;
        margin-bottom: 4vh;
	}	

		.aboutRow {
	    display: flex;
	    justify-content: space-between;
	    margin-top: 10vh;
	}

	.toBottom {
	    margin: 9vh auto -20px auto;
	    display: flex;
	    justify-content: center;
	}

	.reviewsLogo {
	    display: flex;
	    justify-content: center;
	    margin-top: 6vh;
	}

	.reviewsH1 {
	    font-family: 'LatoWebBold';
	    color: #fff;
	    font-size: 1.6em;
	    text-align: center;
	    margin-top: 6vh;
	}

	.reviewsRow {
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    margin-top: 6vh;
	}

	.teachDesc {
	    display: flex;
	    justify-content: space-between;
	    margin-top: 12vh;
	    margin-bottom: 8vh;
	}

}

.ymaps-2-1-45-map-bg-ru {
 -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}